@model IEnumerable<ProductosCRUD.DTOs.ProductosSubCategoriasDTO>
@using ProductosCRUD.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de productos</h1>

<p>
    <a asp-action="Create">Crear nuevo producto</a>
</p>

<div class="form-group">
    <input type="text" id="searchInput" class="form-control" placeholder="Buscar productos...">
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripción)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategoria)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Manufactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Claseid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombreclase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coloid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamaño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody id="productTableBody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripción)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategoria)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Manufactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Claseid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombreclase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coloid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamaño)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td> *@
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Productokey">Modificar</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Productokey">Detalles</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Productokey">Eliminar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchInput').keyup(function () {
                var searchText = $(this).val().toLowerCase();
                $('#productTableBody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
                });
            });
        });
    </script>
}